h1 {
  background-color: darkcyan;
  color: white;
  text-align: center;
}
[lang] {
  font-family: sans-serif;
}
h2 {
  color: darkcyan;
}
li {
  list-style-type: circle;
}
li.importante {
  font-weight: bold;
  text-decoration: underline;
}
thead {
  background-color: cyan;
  font-style: oblique;
}
tbody {
  background-color: turquoise;
}
tr:nth-child(even) {
  background-color: darkblue;
  color: white;
}
tbody th {
  background-color: transparent;
}
#descanso {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
